*{                      /*this is for all webpage*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{                   /*this is for body*/
    font-family: "Alan Sans", sans-serif;
    background: radial-gradient(ellipse 75% 100% at top center, #000000 70%, #7b2cbf 100%);
    background-attachment: fixed; /* keeps the background fixed while scrolling */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{                 /*this is for header*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: transparent;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.1);
}
nav, ul{                    /*this is for navigation list in the header*/
    height: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    list-style: none;
    
}
.nav-a{                             /*this is for the anchor links in the navigation bar*/
    color: rgb(214, 212, 212);
    text-decoration: none;
    font-family: "Merriweather", Alan Sans;
    border: 1px solid transparent;
    transition-duration: 0.5s;
    transition-property: padding;
}
.nav-a:hover{                   /*this is for the anchor links hover effects in the navigation bar*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    color: #7b2cbf;
}

.introduction{                  /*this is for the introduction*/
    margin-top: 80px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.introduction-details{              /*this is related to introduction*/
    height: 300px;
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0c0c0c;
}
.introduction-heading{                  /*this is related to introduction*/
    color: #7b2cbf;
    font-size: xx-large;
}
.introduction-paragraph{                     /*this is related to introduction*/
    height: 120px;
    width: 750px;
    font-size: 17px;
    text-align: justify;
    color: rgb(214, 212, 212);
}
.introduction-image{                                 /*this is related to introduction*/
    height: 340px;
    width: 270px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3);
    background-color: #0c0c0c;
}
.my-introduction-image{                              /*this is related to introduction*/
    height: 310px;
    width: 310px;
    transition-duration: 500ms;
}
.my-introduction-image:hover{                                 /*this is related to introduction*/
    transform: scale(1.1);
    cursor: pointer;
}
.tech-stack{                                    /*this is for techstack*/
    margin-top: 100px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.techstack-heading-h1{                                  /*this is related to techstack*/
    color: rgb(214, 212, 212);
    font-size: 40px;
}
.techstack-items-group{                                           /*this is related to techstack*/
    height: 470px;
    width: 1100px;
    /* border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3); */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.techstack-item{                                  /*this is related to techstack*/
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: rgb(214, 212, 212);
    transition-duration: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 12px rgba(123, 44, 191, 0.5),
                0 2px 4px rgba(123, 44, 191, 0.3);
    border-radius: 12px;
}
.techstack-item:hover{                              /*this is related to techstack*/
    transform: scale(1.1);
    cursor: pointer;
}
.techstack-icons{                           /*this is related to techstack*/
    height: 130px;
    width: 130px;
}
.links-to-mailandprofiles{                      /*this is for links to my email and profile*/
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
.links-to-profiles{                         /*this is related to my email and profile*/
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3);
    border-radius: 10px;
}
.links-icons-list{                                   /*this is related to my email and profile*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
i{                                                   /*this is related to my email and profile*/
    font-size: 45px;
    color: #9e9d9d;
    transition-duration: 0.5s;
}
i:hover{                                            /*this is related to my email and profile*/
    color: white;
    transform: scale(1.1);
}
.gradient-button {                                       /*this is related to my email and profile*/
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem; /* same as px-5 py-3 */
  font-weight: 500;
  font-family: inherit;
  color: #4f46e5; /* text-indigo-600 */
  overflow: hidden;
  border-radius: 15px; /* rounded-full */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.gradient-button:hover {                                 /*this is related to my email and profile*/
  box-shadow: 0 0 0 3px #652a9c; /* hover:ring-purple-500 */
}
/* Background gradient layer */
.gradient-button .bg-layer {                                     /*this is related to my email and profile*/
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #9341db, #4d0a8b, #000000);
  z-index: 1;
}
/* Rotating circle element */
.gradient-button .circle {                                           /*this is related to my email and profile*/
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16rem; /* w-64 */
  height: 16rem; /* h-64 */
  margin-bottom: 8rem; /* mb-32 */
  margin-right: 1rem; /* mr-4 */
  background-color: #7b2cbf; /* bg-pink-500 */
  border-radius: 50%;
  opacity: 0.3;
  transform-origin: bottom left;
  transform: rotate(45deg) translateX(6rem);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}
/* Hover animation */
.gradient-button:hover .circle {                                     /*this is related to my email and profile*/
  transform: rotate(90deg) translateX(6rem);
}
/* Button text */
.gradient-button .text {                                         /*this is related to my email and profile*/
  position: relative;
  color: white;
  z-index: 2;
}
.about-me{                                                 /*this is about me*/
    margin-top: 2rem;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me-details{                                                              /*related to about*/
    height: 500px;
    width: 1080px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
}
.about-image{                                               /*related to about*/
    height: 500px;
    width: 540px;
    background-image: url(./images/zohaib.jpg);
    border-radius: 25px;
    background-repeat: no-repeat;
}
.about-details{                                                         /*related to about*/
    height: 450px;
    width: 540px;
    color: #bebcbc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.3rem;
}
.about-heading{                                                         /*related to about*/
    font-family: "Merriweather", Alan Sans;
    font-style: italic;
    color:#9341db
}
.about-heading-two{                                             /*related to about*/
    color: white;
}
.about-paragraph{                       /*related to about*/
    text-align: justify;
    height: 300px;
    width: 470px;
    font-weight: 600;
    font-size: 17px;
}