*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh; /*for both html, body then height: 100vh*/
  background-image: url("images/backg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  color: white;
}