/* Merriweather font*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Alan Sans", sans-serif;
    background: radial-gradient(ellipse 75% 100% at top center, #000000 70%, #7b2cbf 100%);
    background-attachment: fixed; /* keeps the background fixed while scrolling */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: transparent;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.1);
}
nav, ul{
    height: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    list-style: none;
    
}
.nav-a{
    color: rgb(214, 212, 212);
    text-decoration: none;
    font-family: "Merriweather", Alan Sans;
    border: 1px solid transparent;
    transition-duration: 0.5s;
    transition-property: padding;
}
.nav-a:hover{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    color: #7b2cbf;
}

.about{
    margin-top: 80px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.about-d{
    height: 230px;
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h2{
    color: #7b2cbf;
    font-size: xx-large;
}
.about-details{
    height: 120px;
    width: 750px;
    font-size: 17px;
    text-align: justify;
    color: rgb(214, 212, 212);
}
.about-pic{
    height: 340px;
    width: 270px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3);
}
.my-image{
    height: 310px;
    width: 310px;
    transition-duration: 500ms;
}
.my-image:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.tech-stack{
    margin-top: 100px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.th{
    color: rgb(214, 212, 212);
    font-size: 40px;
}
.techstack-items{
    height: 470px;
    width: 1100px;
    /* border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3); */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.item{
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: rgb(214, 212, 212);
    transition-duration: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 12px rgba(123, 44, 191, 0.5),
                0 2px 4px rgba(123, 44, 191, 0.3);
    border-radius: 12px;
}
.item:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.icons{
    height: 130px;
    width: 130px;
}
.address-parent{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
.addresses{
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 7px rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    
}
.ad-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}
i{
    font-size: 45px;
    color: #9e9d9d;
    transition-duration: 0.5s;
}
i:hover{
    color: white;
    transform: scale(1.1);
}
.mail-a{
    background: linear-gradient(45deg, #7b2cbf, #000000);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 4px rgba(163, 76, 250, 0.5);
    border-radius: 7px;
    text-decoration: none;
    color: rgb(214, 212, 212);
    transition-duration: 0.5s;
}
.mail-a{
    transform: scale(1.1);
}